registry=https://registry.npmmirror.com
store-dir=F:\gxwinccbaobiao\.pnpm-store
verify-deps-before-run=false
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
